<div class="container mt-5">
  <h1>All Restaurants</h1>

  <ol id="restaurants">
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
        <%= restaurant.address %>
        <%= restaurant.phone_number %>
        <%= restaurant.category %>
      </li>
    <% end %>
  </ol>

  <hr>

  <%= link_to new_restaurant_path do %>
    <%= link_to "Add a new Restaurant", new_restaurant_path, class: 'btn btn-primary' %>
  <% end %>
</div>
